.header {
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #e9ecef;
  z-index: 100;
}

.inner {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  color: #333;
}

.logo:hover {
  text-decoration: none;
  color: #444;
}
